.timer-container{
    border: 1px solid;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin: 0 0 0.5rem 0;
    background-color:lightgray;
}
.timer-title{
    color: rgb(54, 55, 73);
}
.timer-display{
    border: 1px solid;
    border-radius: 0.5rem;
    text-align: right;
    font-size: x-large;
    padding: 0.25rem 0.5rem ;
    font-weight: bold;
    width:15rem;
}
.timer-buttons{
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
}

