*{
    text-align: center;
}

.lineOf_CAT {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: space-between;
  gap: 0.5rem;
}
.counter {
  grid-template-rows: 2fr;
}

.title_work {
  width: 30rem;
  height: 4rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  border-radius: 10px;
  background-color: lightgray;
}



.forAdd {
  margin-bottom: 2px;
}

.background-container {
  margin: 1rem;
  padding: 1rem;
  background-image: url('/public/bg.jpg');
}

